PUBLIC_ADSENSE_HOME_SLOT=0000000000
PUBLIC_ADSENSE_ARTICLE_TOP_SLOT=0000000000
PUBLIC_ADSENSE_ARTICLE_BOTTOM_SLOT=0000000000
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
PUBLIC_SUPPORT_MONTHLY_URL=
PUBLIC_SUPPORT_YEARLY_URL=
PUBLIC_SUPPORT_ONE_TIME_URL=
