<div id="community-posts" data-community-hub class="mt-6 scroll-mt-28"></div>

<script>
  import { mountCommunityHub } from '../scripts/communityHub';

  const root = document.querySelector('[data-community-hub]');
  if (root instanceof HTMLElement) {
    mountCommunityHub(root);
  }
</script>
